.row {
  width: 960px;
  margin: 10px auto;
}

.row > div {
  float: left;
  margin: 0 10px;
}

.w-1  {width: 60px}
.w-2  {width: 140px}
.w-3  {width: 220px}
.w-4  {width: 300px}
.w-5  {width: 380px}
.w-6  {width: 460px}
.w-7  {width: 540px}
.w-8  {width: 620px}
.w-9  {width: 700px}
.w-10 {width: 780px}
.w-11 {width: 860px}
.w-12 {width: 940px}

.clear {clear: both}

@media only screen and (min-width: 500px) and (max-width: 980px) {
  .row {
    width: 100%;
  }
  .row > div {
    margin: 0 0.5%;
  }
  .w-1  {width: 7.3%}
  .w-2  {width: 15.6%}
  .w-3  {width: 24%}
  .w-4  {width: 32.3%}
  .w-5  {width: 40.4%}
  .w-6  {width: 49%}
  .w-7  {width: 57.3%}
  .w-8  {width: 65.6%}
  .w-9  {width: 74%}
  .w-10 {width: 82.3%}
  .w-11 {width: 90.6%}
  .w-12 {width: 99%}
}

@media only screen and (max-width:500px) {
	.row {
		width : 100%;
	}
	.row > div {
		margin : 0 1%;
	}
	.w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12 {
		width : 98%;
		float : none;
	}
}
