/* Votre Style */
html, body {
  padding: 0px;
  margin: 0px;
  font-family: "Source Sans Pro";
  background-color: #f1ede9;
  color: #696969;
}

h1, h2, h3, h4, h5 {
  color: #f60;
}

h1 {
  text-align: center;
}

p {
  margin: 0px;
}

input[type=text], textarea {
  color: #666666;
  border: 1px solid #e2e2e2;
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px;
  font-size: 15px;
}

input[type="submit"] {
  border: 1px solid #e2e2e2;
  background: #78c06f;
  color: white;
  width: 100%;
  margin: 5px;
  padding: 8px;
  font-size: 20px;
  border-radius: 0px;
}

.message {
  padding: 15px;
  color: white;
  margin-top: 1px;
  width: 100%;
  height: auto;
  background-color: #6f88c0;
  transition: 0.4s;
}

.sender {
  background-color: #6fc0b1;
  transition: 0.4s;
}

.delete-btn {
  color: #a95a5a;
  font: 14px/100% arial, sans-serif;
  text-decoration: none;
  top: 5px;
}

.delete-btn:hover {
  font: 16px/100% arial, sans-serif;
  text-decoration: none;
  transition: 1s;
  color: #F44336;
}
