<!DOCTYPE html>
<html>
<head>

 <!--Angulare -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>

<!--Applicazione -->
<script src="js/app.js"></script>

</head>
<body ng-app="chatApp">
<div ng-controller="chatController" >
 <p>Pseudo : <input type="text" ng-model="newmessage.user"></p>
 <p>Message :<input type="text" ng-model="newmessage.text"></p>
 <button ng-click="inserisci(newmessage)">Invia</button>

  	<ul>
  		<li ng-repeat="message in messages">
  			{{message.name}} : {{message.text}}
  		</li>
  	</ul>
</div>
</body>
</html>
